* {
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Leckerli+One');

header {
	background-color: #222;
    min-height: 200px;
    padding: 30px;
    color: #fff;
}

header img {
	width: 125px;
	height: 125px;
}

footer {
	font-family: 'Leckerli One', cursive;
	color: #fff;
}